.recomended-friends {
  padding: 20px 0px;
  border-top: var(--main-border);
  border-bottom: var(--main-border);
}

.recomended-friends__title{
  font-size: 14px;
  color: var(--font-gray);
}

.recomended-friends__text{
  margin: 100px 0px;
  display: block;
  text-align: center;
  font-size: 20px;
  color: var(--font-gray);
}

.open-chat__header{
  display: flex;
  justify-content:space-between;
  color: var(--font-gray);
  margin: 20px 0px;
}

.open-chat__header span{
  opacity: 0.6;
}

.open-post {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.open-post__title {
  font-weight: 600;
  margin-bottom: 7px;
}

.open-post__hashtags {
  text-transform: uppercase;
  opacity: 0.6;
}

.open-post__members{
  margin-top: 7px;
  display: flex;
  align-items: center;
}

.open-post__members img{
  width: 17px;
  height: 17px;
  border-radius: 50%;
  margin-right: 5px;
}

.open-post__member-count{
  opacity: 0.6;
  font-size: 14px;
}

.open-post__members .divider {
  width: 2px;
  height: 12px;
  margin: 0px 5px;
  background-color: rgba(0,0,0,0.3);
}

.open-post__member-status {
  color: rgb(247, 147, 163)
}

.open-post__photo img{
  width: 100px;
  height: 100px;
  border-radius: 10px;
}

.open-post__photo {
  position: relative;
}

.open-post__heart-count {
  background-color: rgba(0,0,0,0.8);
  color: white;
  padding: 5px;
  border-radius: 18px; 
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 10px;
  right: 8px;
  font-size: 11px;
}

.open-post__heart-count span{
  margin-left: 4px;
}